.accueil{
    display: flex;
    align-items: center;
    margin-top : 8%;
    .presentation_text{
        margin: 18% 0 0 8%;
        font-size: 3em;
        color:#e6b798; 
        span{
            font-size: 1.8em;
        }
    }
    .who_am_i{
        margin: 10% 13% 0 18%;
    }
}
