
.menu{
    display: flex;
    align-items: center;
    position: sticky;

    .myName{
        margin: 1% 2% 1%;
        color : #351330;
        font-size: 1.6em;
    }
    .navigation {
        margin: 0% 13%;
        ul{
            display: flex;
            list-style-type: none;    
            margin: -4% 0 0 -32%;
            font-size: 1.4em;
            a{
                text-decoration: none;
                padding: 3% 12%;
            }
            .purple{
                background-color: #351330;
                color: white; 
            }
            .white{
                color: #351330;
            }
            a:hover{
                transform: scale(1.25)
            }
            .white:hover{
                background-image: linear-gradient(120deg, #351330,#64908A 100%);
                background-repeat: no-repeat;
                background-size: 40% 0.2em;
                background-position: 50% 70%;
                transition: background-size 0.25s ease-in;     
            }
        
        }
    }
}
